.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-row-wrap {
  padding: 20px 0;
  display: flex;
}

#new-task {
  width: 318px;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  flex-grow: 1;
}

#new-task:focus {
  color: #333;
}

label[for='new-task'] {
  display: block;
  margin: 0 0 20px;
}

input,button {
  outline: none;
}

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

button:hover {
  color: #3a3A3a;
}